@font-face {
  font-family: 'HelventicaNeue';
  src: url('../css/fonts/helvetica/helvetica/HelveticaNeue.woff2') format('woff2');
  src: url('../css/fonts/helvetica/helvetica/HelveticaNeue.woff') format('woff');
  src: url('../css/fonts/helvetica/helvetica/HelveticaNeue.ttf') format('truetype');
  font-weight: normal;
  font-size: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Bebas';
  src: url('../css/fonts/babas/Bebas.woff2') format('woff2');
  src: url('../css/fonts/babas/Bebas.woff') format('woff');
  src: url('../css/fonts/babas/Bebas.ttf') format('truetype');
  font-weight: normal;
  font-size: normal;
  font-display: swap;
}